<mat-toolbar color="primary">
  <mat-toolbar-row class="icons">
    <a href="https://www.linkedin.com/in/brandyn-britton/"><fa-icon class="mat-icon" aria-label="Linkedin" [icon]="faLinkedin"></fa-icon> </a>
    <a href="https://www.facebook.com/brandyn.britton"><fa-icon class="mat-icon" aria-label="Facebook" [icon]="faFacebook"></fa-icon></a>
    <a href="https://github.com/GoodPie"><fa-icon class="mat-icon" aria-label="Github" [icon]="faGithub"></fa-icon></a>
    <a href="#"><fa-icon class="mat-icon" aria-label="Snapchat" matTooltip="brandynbb"  [icon]="faSnapchat"></fa-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
