<div *ngIf="!projectLoaded" style="position: absolute; top: 50%; left: 50%">
  <mat-spinner></mat-spinner>
</div>

<mat-grid-list *ngIf="projectLoaded && projectExists" [cols]="columnCount" rowHeight="90vh" (window:resize)="onResize($event)">
  <mat-grid-tile id="project-showcase">
  <div>
    <h2>{{ currentProject.title }}</h2>
    <iframe *ngIf="currentProject.showcase.isVideo" width="620px" height="350px"  [src]="contentSource" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img *ngIf="!currentProject.showcase.isVideo" [src]="currentProject.showcase.link" width="{{ currentProject.showcase.width }}" height="{{ currentProject.showcase.height  }}" alt="{{ currentProject.title + ' thumbnail' }}"/>
  </div>
  </mat-grid-tile>


  <mat-grid-tile id="project-desc" class="mat-background-primary">
    <div id="description">
      <h3>Description:</h3>
      <p [innerHTML]="currentProject.description"></p>

      <p *ngIf="currentProject.url !== 'NA'">Link: <a target="_blank" href="{{ currentProject.url}}">{{ currentProject.url }}</a></p>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="projectLoaded && !projectExists" id="project-not-found">
  <h2>Failed to find project: {{ projectName }}</h2>
  <p>If you believe this to be an error, feel free to contact me and I'll sort it out ASAP</p>
  <p>Otherwise, click here to <a routerLink="/" routerLinkActive="active">return home</a></p>
</div>

<a id="home-arrow" routerLink="/" routerLinkActive="active"><fa-icon class="mat-icon" [icon]="faBackArrow" ></fa-icon></a>
