
<mat-grid-list [cols]="columnCount" rowHeight="90vh" (window:resize)="onResize($event)">
  <mat-grid-tile id="name-display">
    <div>
      <h1><span class="thin">Brandyn</span><br/>Britton</h1>
      <span class="slogan">Terrible Designer, Ok Developer</span><br/>
      <div class="quotes" *ngFor="let quote of quotes; let i = index ">
        {{ setQuoteCount(i) }} <!-- Use this to pass the quote count to the backend -->
        <span (click)="changeQuote()" [ngClass]="{'sub-slogan': true, 'hidden': currentQuoteIndex != i}" class="sub-slogan">{{ quote.text }}</span>
      </div>
      <br/>
      <a *ngIf="columnCount===1" pageScroll href="#project-display"><fa-icon style="padding-left: 0; font-size: 1.2em" class="mat-icon" [icon]="faDownArrow"></fa-icon></a>
    </div>

  </mat-grid-tile>


  <mat-grid-tile id="project-display" class="mat-background-primary">
    <div>
      <h3>Some of my Open Source Projects:</h3>
      <ul>
        <li><a [routerLink]="['/project', 'lilanet']">Burger Bot</a></li>
        <li><a href="https://github.com/Goodpie-zz/chip-manager-web">Poker Chips</a></li>
        <li><a href="https://github.com/GoodPie/The-Forming">The Forming</a></li>
        <li><a href="https://github.com/GoodPie/LED-Visualizer">LED Visualizer</a></li>
        <li><a href="https://github.com/GoodPie/youtube">YouTube</a></li>
      </ul>
    </div>
  </mat-grid-tile>
</mat-grid-list>
