
<mat-grid-list cols="2" rowHeight="90vh">
  <mat-grid-tile>
    <div><h1><span class="thin">Brandyn</span><br/>Britton</h1>
      <span class="slogan">Terrible Designer, Ok Developer</span><br/>
      <div class="quotes" *ngFor="let quote of quotes | async; let i = index ">
        {{ setQuoteCount(i) }} <!-- Use this to pass the quote count to the backend -->
        <span (click)="changeQuote()" [ngClass]="{'sub-slogan': true, 'hidden': currentQuoteIndex != i}" class="sub-slogan">{{ quote.text }}</span>
      </div>
    </div>

  </mat-grid-tile>

  <mat-grid-tile class="mat-background-primary">
    <div>
      <h3>Some of my Open Source Projects:</h3>
      <ul>
        <a href="https://github.com/GoodPie/BurgerBot"><li>Burger Bot</li></a>
        <a href="https://github.com/Goodpie-zz/chip-manager-web"><li>Poker Chips</li></a>
        <a href="https://github.com/GoodPie/The-Forming"><li>The Forming</li></a>
        <a href="https://github.com/GoodPie/LED-Visualizer"><li>LED Visualizer</li></a>
        <a href="https://github.com/GoodPie/youtube"><li>YouTube</li></a>
      </ul>
    </div>

  </mat-grid-tile>
</mat-grid-list>
