<div id="login-container" *ngIf="auth.user$ | async; then authenticated else guest">

</div>

<ng-template #guest>
  <div id="login-form">
    <button class="google-sign-in-button" (click)="auth.googleSignIn()"></button>
  </div>
</ng-template>

<ng-template #authenticated>
  <div id="login-authenticated">
    <h1>Hello, <span *ngIf="auth.user$ | async as user">{{ user.displayName }}</span></h1>
    <h3 *ngIf="accessDenied">You do not have access to this page</h3>
    <button mat-button mat-raised-button (click)="auth.signOut()">Sign Out</button>
  </div>

</ng-template>
